/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('IMG_9483.jpg'); /* Background image */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Make the background fixed as you scroll */
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
}

/* Header Styles */
header {
    background-color: rgba(51, 51, 51, 0.8); /* Dark overlay for header */
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: 'Courier New', monospace;
    font-size: 36px; /* You can adjust the size as needed */
    letter-spacing: 1px; /* Optional: adds a little spacing between letters */
    text-transform: uppercase; /* Optional: makes the title uppercase */
}
/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Center the menu on the screen */
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Prevent the menu from overflowing */
}

nav ul li {
    display: inline-block; /* Keep the list items inline */
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for content */
    border-radius: 8px;
    flex-grow: 1; /* Allow section to grow and take available space */
}

/* Footer Styles */
footer {
    background-color: rgba(51, 51, 51, 0.8); /* Dark overlay for footer */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative; /* Relative position to the normal flow */
    width: 100%;
    margin-top: auto; /* Push the footer to the bottom of the page */
}

footer a {
    color: white;
    text-decoration: none;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    /* Adjust the padding of header for smaller devices */
    header {
        padding: 15px;
    }

    /* Ensure the links stay inline and centered */
    nav ul {
        padding-top: 10px;
        text-align: center; /* Keep the links centered */
        white-space: nowrap; /* Prevent wrapping */
    }

    nav ul li {
        display: inline-block; /* Keep the list items inline */
        margin: 0 10px; /* Reduced margin for smaller screens */
    }

    nav ul li a {
        font-size: 16px; /* Slightly smaller font size for mobile */
    }

    /* Section adjustments for smaller screens */
    section {
        margin: 10px;
        padding: 15px;
    }

    /* Footer adjustments for mobile */
    footer {
        position: relative; /* Change from fixed to relative */
    }
}

/* Additional adjustments for very small devices like phones in portr
